body,
html {
  font-size: 14px;
}
html {
  font-size: 26.66667vw;
}
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  /* 解决图片和块级元素3px间隙问题 */
  vertical-align: middle;
}
i {
  font-style: normal;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#header {
  height: 50px;
  background-color: red;
}
.section4 {
  background-color: transparent;
  position: relative;
  height: 100px;
  width: 100%;
  margin-top: -100px;
}
.section4 > .cloud {
  height: 30px;
  position: absolute;
  top: 0;
  right: -30px;
  animation: cloud 10s infinite;
}
@keyframes cloud {
  to {
    transform: translateX(-200px);
  }
}
.section4 .carBox {
  width: 80px;
  height: 56px;
  position: absolute;
  top: 50px;
  background: url(../images/04/car.png) no-repeat;
  background-size: 50px  46px;
  animation: car 12s infinite;
}
@keyframes car {
  40% {
    transform: translateX(200px);
  }
}
.mui-popup-button.mui-popup-button-bold {
  margin-top: 30px;
}
.backdrop-money {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.backdrop-money .bag {
  position: relative;
  width: 200px  ;
  height: 300px;
  margin-top: 50%;
  margin-left: 25%;
  background: url('../images/e二维码.png') no-repeat;
  background-size: 200px 300px;
  border-radius: 20px;
  text-align: center;
}
.backdrop-money .bag p {
  width: 60px;
  height: 30px;
  background-color: #ccc;
  line-height: 30px;
  bottom: 0;
  position: absolute;
  left: 40%;
}
.waning-money .box {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: red;
  text-align: center;
  font-size: 18px;
  left: 35%;
  position: relative;
  margin-top: 30%;
}
.waning-money .box p {
  width: 25px;
  height: 25px;
  margin-top: 10px;
  left: 0;
  border: 1px solid #ccc;
  line-height: 25px;
  border-radius: 5px;
}
.waning-money .box span {
  width: 100px;
  line-height: 40px;
  font-size: 18px;
  text-shadow: 2px 2px #fff,1px 1px yellow,1px 1px red;
}
.mainnav {
  font-size: 12px;
  text-align: center;
  position: absolute;
  z-index: 2222;
  right: 0;
  top: 90px;
}
.mainnav li {
  width: 40px;
  height: 60px;
  line-height: 60px;
  box-shadow: 0px 0px 1px 1px #ccc;
  background-color: aqua;
}
.pasue {
  position: absolute;
  z-index: 2222;
  right: 0;
  top: 90px;
  width: 40px;
  height: 60px;
  line-height: 60px;
  box-shadow: 0px 0px 1px 1px #ccc;
  background-color: hotpink;
  display: none;
  border-radius: 5px;
  font-size: 36px;
  text-align: center;
}
.video-play {
  width: 100%;
  height: 400px;
  border: 1px solid red;
}
.video-play a {
  width: 100%;
  height: 100%;
  display: block;
}
#main {
  position: relative;
  flex: 1;
}
#main .title {
  font-size: 16px;
  line-height: 40px;
  background-color: #ebebeb;
  clear: both;
}
#main .title #img {
  z-index: 1111;
  position: absolute;
  top: 0;
  left: 0;
}
#main #commodity {
  padding: 5px;
  background-color: #fff;
}
#main #commodity .mui-content-padded {
  text-align: center;
  padding: 0;
}
#main #commodity .comm-list {
  padding: 5px;
  position: relative;
}
#main #commodity .comm-list .tag {
  width: 38px;
  height: 20px;
  position: absolute;
  background-color: orange;
  text-align: center;
  z-index: 999;
  color: #fff;
  left: -5px;
  top: -5px;
}
#main #commodity .comm-list .comm-list-left {
  margin-left: 10px;
}
#main #commodity .comm-list .comm-list-left a {
  display: block;
}
#main #commodity .comm-list .comm-list-left a img {
  width: 100%;
  height: 100%;
}
#main #commodity .comm-list .comm-list-right {
  font-size: 12px;
  margin-left: 20px;
}
#main #commodity .comm-list .comm-list-right a {
  display: block;
}
#main #commodity .comm-list .comm-list-right a span {
  line-height: 20px;
  font-size: 12px;
  color: black;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#main #commodity .comm-list .comm-list-right a i {
  font-size: 14px;
  font-style: normal;
  color: red;
}
#main #commodity .comm-list .comm-list-right a p {
  font-size: 12px;
  margin-bottom: 0;
}
#main #bottom {
  background-color: #f2f2f2 !important;
}
#main #bottom .point {
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  background-color: #ebebeb;
  border: 1px solid #ccc;
}
#main #bottom .point a {
  color: black;
}
#main #bottom .point .middle {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.mui-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}
#footer {
  background-color: #f2f2f2 !important;
}
#footer .mui-content-padded {
  margin: 0;
  text-align: center;
}
#footer .mui-pagination-lg > li > a {
  font-size: 12px;
  padding: 5px 15px;
}
#footer .nav {
  font-size: 14px;
  line-height: 30px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));
  margin-bottom: 10px;
  box-shadow: 0px 0px 3px #ccc;
}
#footer .point {
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  background-color: #ebebeb;
  border: 1px solid #ccc;
}
#footer .point a {
  color: black;
}
#footer .point .middle {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#switch {
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
}
#switch .close {
  background-color: #ffffff;
}
#slider {
  text-align: center;
}
#slider .sliderBox {
  height: 300px;
}
